<div class="border-bottom row">
    <div class="col-9">
        <h4 style="margin-bottom: 0;">
        {{job['title']}}
        </h4>
        <p style="margin-top: 3px; margin-bottom: 3px;"><b style="color: rgb(120 120 120)">Location: </b>{{job['location']}}</p>
        {% if 'salary' in job %}
        <div style="margin-top: 0;">
            <b>Salary: {{job['salary']}}</b>
        </div>
        {% endif %}
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-primary">
            Apply
        </button>
    </div>
    
</div>
