body {
    background-image: url(../static/woman-home-girl-black-sweater-african-woman-office-person-with-flowerpot.jpg);
    background-position: top;
}

#logoname {
    margin-bottom: 0;
    text-align: center;
    color: green;
}

#tagname {
    font-size: 14px;
    color: grey;
    display: block;
    margin-top: 0;
    text-align: center;
}